
#back {
  background-color: rgb(20, 20, 20);
  background-image: url("fon.png");
  text-align: center;
  height: auto;
}

.header {
  width: auto;
  height: 80px;
  background-color: black;
}

ul.menu{
  color: white;
  text-align: center;
}
li {
  float: left;
display: inline;
margin: 10px 100px 10px 10px; 
text-align: center;
line-height: 80px;
font-size: 20px;
margin-top: 0px;
}

nav {
  background-color: black;
  height: 80px;
  margin-top: -10px;
}

footer {
  color: white;
  text-align: center;
  background-color: black;
  height: 100%;
}

#logomenu {
  height: 70px;
}

#profmenu{
  float: right;
  height: 50px;
  border: 1px solid;
  border-color: grey;
  margin-top: 10px;
  display: flex;
}
